{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}

<div class="header">
    <img src="{{asset ('img/icono.png')}}" alt="logo" width=125 height=125>
    <a href="{{ path('app_accueil_index') }}">Retour accueil</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in posseder %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>
                {% if produit.image %}
                    <img src="{{ produit.image }}" alt="Image" width="200">
                {% endif %}
                </td>
                <td>{{ produit.stock }}</td>
                <td>
                    <a href="{{ path('app_produit_detail', {'id': produit.id}) }}" class="btn btn-primary">Détails</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de produits trouvés</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_produit_new') }}">Créer un nouveau produit</a>

{% endblock %}